extends ../infoPage

append styles
  link(rel='stylesheet', href='/style/dynamic/article.css')

block content
  .article-container
    .main-article
      h1 About JankDota
      article
        p.
          JankDota started in 2011 when two guys on opposite teams were riffing off
          'butthurt' puns in allchat and decided to befriend each other. From there
          formed a group that was based on enjoying the sillier side of Dota. Over
          the years, JankDota has grown in size but always maintained the ideal that
          Dota, at any level, is meant to be for fun.
        p.
          Now, JankDota.com is here to bring great content, tools and events to the
          community. Dota is a big part of our lives and we like to do our part to
          give back.
