extends ../infoPage

block title
  title Contact - JankDota

append styles
  link(rel='stylesheet', href='/style/dynamic/article.css')

block content
  .article-container
    .main-article
      h1 Contact
      h2 Email
      article
        p
          |For administrative information, inquires or secret love letters,
          |contact the administrator at&nbsp;
          a(href='mailto:twisterghost@gmail.com') twisterghost@gmail.com
      h2 Social Media
      article
        p
          |You can find us on Twitter and Twitch
          ul
            li
              a(href='http://twitter.com/jankdota') Twitter
            li
              a(href='http://www.twitch.tv/janktv') Twitch
